version: '3.8'

services:
  lionking-server:
    image: "choikang7157/lionking-server:latest"
    ports:
      - 8080:8080
    depends_on:
      lionking-db:
        condition: service_healthy
      lionking-redis:
        condition: service_healthy
    networks:
      - my-network

  lionking-db:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: rkwhr123
      MYSQL_DATABASE: lionking_db # MySQL 최초 실행 시 lionking_db라는 데이터베이스를 생성해준다.
    volumes:
      - ./mysql_data:/var/lib/mysql
    ports:
      - 3307:3306
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping" ]
      interval: 5s
      retries: 10
    networks:
      - my-network

  lionking-redis:
    image: redis:latest
    ports:
      - 6379:6379
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      retries: 10
    networks:
      - my-network

networks:
  my-network:
    driver: bridge
