services:
  backend:
    container_name: lionking-backend
    image: "${DOCKERHUB_USERNAME}/lionking-backend:latest" #로컬에서 실행해도 되는지?
    restart: always
    ports:
      - "8080:8080"
    environment: # GitHub Secrets → SSH envs 로 넘길 예정
      - MYSQLDB_USERNAME=${MYSQLDB_USERNAME}
      - MYSQLDB_PASSWORD=${MYSQLDB_PASSWORD}
      - MYSQLDB_ROOT_PASSWORD=${MYSQLDB_ROOT_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
#    volumes:
#      - type: volume
#        source: docker-log #볼륨 이름
#        target: /lionking-backend/log #컨테이너 내 로그 파일 위치
    depends_on:
      lionking-db:
        condition: service_healthy
      lionking-redis:
        condition: service_healthy

  lionking-db:
    container_name: lionking-db
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQLDB_ROOT_PASSWORD}
      MYSQL_DATABASE: lionking_db
      MYSQL_USER: ${MYSQLDB_USERNAME}
      MYSQL_PASSWORD: ${MYSQLDB_PASSWORD}
    volumes:
      - ./mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping" ]
      interval: 5s
      retries: 10

  lionking-redis:
    container_name: lionking-redis
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      retries: 10