spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: jdbc:mysql://lionking-db:3306/${MYSQLDB_DATABASE}
    #url: jdbc:mysql://localhost:3306/lionking-db
    username: ${MYSQLDB_USERNAME}
    password: ${MYSQLDB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  sql:
    init:
      mode: always
      data-locations: classpath:data.sql
      defer-datasource-initialization: true

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  data:
    redis:
      host: lionking-redis
      port: 6379

logging:
  level:
    org.springframework.web: debug

jwt:
  secret: ${JWT_SECRET}
  access-token-validity: 3600000
  refresh-token-validity: 86400000

cloud:
  aws:
    credentials:
      access-key: ${CLOUD_AWS_CREDENTIALS_ACCESS_KEY}
      secret-key: ${CLOUD_AWS_CREDENTIALS_SECRET_KEY}
    region: ${CLOUD_AWS_REGION}
  s3:
    bucket: ${CLOUD_S3_BUCKET}
    upload:
      expTime: ${CLOUD_S3_UPLOAD_EXPTIME}
    download:
      expTime: ${CLOUD_S3_DOWNLOAD_EXPTIME}
